@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f0; /* Abu-abu terang */
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff; /* Putih untuk mode gelap */
    --foreground: #000000; /* Hitam untuk mode gelap */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
